*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding-bottom: 50px;
    font-family: "Smythe", sans-serif;
    font-weight: 400;
    width: 600px;
    color: black;
    margin: 0 auto;
    background: white;
} 

/* Typography */

h1 {
    font-size: 39px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 22px;
}

input,
button,
.modal {
    font-family: Verdana, sans-serif;
}

.subheading {
    font-size: 28px;
    color: black;
}

.order-item-remove {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    color: #BBBBBB;
}

/* Input */ 

/* Input - Buttons */

.btn {
    border: none;
    cursor: pointer;
}

.add-btn {
    font-size: 16px;
    font-weight: 200;
    background: white;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 2px solid #DEDEDE;
    border-radius: 50%;
}

.btn-big {
    font-weight: bold;
    background: #16DB99;
    width: 100%;
    color: white;
    padding: 22px 0;
    border-radius: 4px;
    border: none;
}

/* Header */

header {
    color: #ffffff;
    width: 600px;
    height: 167px;
    background-image: url(/images/jimmy_diner_header.png);
    background-size: cover;
    margin-bottom: 67px;
}

header h1 {
    padding-top: 46px;
    padding-left: 46px;
    margin-bottom: 19px;
    line-height: 24px;
}

header h2 {
    padding-left: 46px;
}

/* Main */

.container-menu {
    display: flex;
    align-items: start;
    color: black;
    width: 508px;
    height: 140px;
    margin: 46px auto;
    border-bottom: 1px solid #D2D2D2;
}

.container-menu img,
.add-btn,
.menu-item-ingredients {
    margin-top: 5px;
}

.menu-item {
    padding-left: 31px;
}

.menu-item-ingredients {
    margin-top: 5px;
    color: #8B8B8B;
}

.item-amt {
    font-size: 20px;
    margin-top: 8px;
}

.add-btn:hover,
.add-btn:active {
    background: #DEDEDE;
}

/* Order */

.ul-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
}

.container-order {
    width: 508px;
    margin: 0 auto;
}

.order-title {
    text-align: center;
    margin-bottom: 30px;
}

.order-item-details {
    align-items: center;
    gap: 10px;
}

.item-qty {
    letter-spacing: 2px;
}

.order-item-remove {
    align-self: center;
    margin: 0;
    padding: 0;
}

.order-item-amt {
    margin-left: auto;
}

.total-price {
    border-top: 2px solid black;
    justify-content: space-between;
    margin-top: 20px;
}

.total-price li {
    margin-top: 10px;
}

/* Modifier */

.btn-complete-order {
    margin-top: 53px;
}

/* Modal */
.modal h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.modal,
.modal-inner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 524px;
    height: 565px;
    box-shadow: 0 0 200px 25px #666;
    background: white;
    border-radius: 5px;
}

button#close-modal-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    line-height: 100%;
    background-color: inherit;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 90%;
    height: 90%;
}

.modal input[type="text"] {
    width: 100%;
    border-radius: 4px;
    border-color: #757575;
    padding: 20px 25px;
}

.modal .btn-big {
    margin: 25px 0;
}

.btn-pay,
.modal input[type="text"] {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

p#order-confirmation-message {
    display: none;
    font-size: 32px;
    color: #065F46;
    background-color: #ECFDF5;
    padding: 51px 63px;
    line-height: 100%;
    text-align: center;
    margin: 45px 0 0 0;
    border-radius: 5px;
}

/* Utility */

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}
