*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Smythe", sans-serif;
    font-weight: 400;
    width: 600px;
    color: #ffffff;
    margin: 0;
    background: white;
} 

/* Typography */

h1 {
    font-size: 39px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 22px;
}



/* Header */

header {
    width: 600px;
    height: 167px;
    background-image: url(/images/jimmy_diner_header.png);
    background-size: cover;
    margin-bottom: 67px;
}

header h1 {
    padding-top: 46px;
    padding-left: 46px;
    margin-bottom: 19px;
    line-height: 24px;
}

header h2 {
    padding-left: 46px;
}

/* Main */

.container {
    display: flex;
    align-items: start;
    color: black;
    width: 508px;
    height: 140px;
    /* border: 1px solid tomato; /* Used for testing layout */
    margin: 46px auto;
    border-bottom: 1px solid #D2D2D2;
}

.container img,
.add-btn,
.item-ingredients {
    margin-top: 5px;
}

.item {
    padding-left: 31px;
}

.item h2 {
    font-size: 28px;
}

.item-ingredients {
    margin-top: 5px;
    color: #8B8B8B;
}

.item-amt {
    font-size: 20px;
    margin-top: 8px;
}

.btn {
    border: none;
    cursor: pointer;
}

.add-btn {
    font-size: 16px;
    font-weight: 200;
    background: white;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 2px solid #DEDEDE;
    border-radius: 50%;
}

.add-btn:hover,
.add-btn:active {
    background: #DEDEDE;
}

/* Utility */

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}
